<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>부분 포함</h1>
<h2>부분 포함 insert -> 경로 :: {th:fragment id 값}</h2>
<h3>th:insert -> 현재 태그( div) 내부에 추가</h3>
<div th:insert="~{template/fragment/footer :: copy}"></div>

<h2>부분 포함 replace</h2>
<h3>th:replace -> 현재 태그(div) 대체.</h3>
<div th:replace="~{template/fragment/footer :: copy}"></div>

<h2>부분 포함 단순 표현식</h2>
<h3>~{...} 를 사용하는 것이 원칙이지만 템플릿 조각을 사용하는 코드가 단순하면 생략 가능</h3>
<div th:replace="template/fragment/footer :: copy"></div>

<h1>파라미터 사용</h1>
<h3>파라미터를 전달해 동적으로 템플릿   조각을 렌더링 가능</h3>
<div th:replace="~{template/fragment/footer :: copyParam ('데이터1', '데이터2')}"></div>
</body>
</html>
